body {
  background: lightgray;
  min-height: 100vh;
  display: block;
}

#app {
  width: 100%;
  background: #4d535e;
}
.menubar {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  height: 100px;
  background: bisque;
  /*color: white;*/
}

.main-element {
  margin: 20px;
  height: 80vh;
}

.global-event-display {
  padding: 10px;
  margin: 20px;
  background: white;
  width: 700px;
  border: 4px solid black;
  border-radius: 10px;
}

.global-event-display p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}
